<div class="card">
  <!-- <div class="card-header">
    {{ pageTitle }}
  </div> -->

  <div class="card-content" *ngIf="product">
    <form novalidate [formGroup]="productForm">
      <div class="columns">
        <label class="column is-one-quarter label" for="productNameId"
          >Product Name</label
        >
        <div class="column is-three-quarters">
          <input
            class="input"
            id="productNameId"
            type="text"
            placeholder="Name (required)"
            formControlName="productName"
            [ngClass]="{
              'is-invalid': isInValid('productName')
            }"
          />
          <span class="invalid-feedback">
            {{ displayMessage.productName }}
            <!-- <span *ngIf="productForm.get('productName').errors?.required">
              Product name is required.
            </span>
            <span *ngIf="productForm.get('productName').errors?.minlength">
              Product name must be at least three characters.
            </span> -->
          </span>
        </div>
      </div>

      <div class="columns">
        <label class="column is-one-quarter label" for="productCodeId"
          >Product Code</label
        >
        <div class="column is-three-quarters">
          <input
            class="input"
            id="productCodeId"
            type="text"
            placeholder="Code (required)"
            formControlName="productCode"
            [ngClass]="{
              'is-invalid': isInValid('productCode')
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="productForm.get('productCode').errors?.required">
              {{ displayMessage.productCode }}
            </span>
          </span>
        </div>
      </div>

      <div class="columns">
        <label class="column is-one-quarter label" for="starRatingId"
          >Star Rating</label
        >
        <div class="column is-three-quarters">
          <input
            class="input"
            id="starRatingId"
            type="text"
            placeholder="Code (required)"
            formControlName="starRating"
            [ngClass]="{
              'is-invalid': isInValid('starRating')
            }"
          />
          <span class="invalid-feedback">
            {{ displayMessage.starRating }}
          </span>
        </div>
      </div>

      <div class="columns">
        <label class="column is-one-quarter label" for="descriptionId"
          >Description</label
        >
        <div class="column is-three-quarters">
          <textarea
            class="input"
            id="descriptionId"
            placeholder="Description"
            rows="3"
            formControlName="description"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="notification is-danger" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
